<!DOCTYPE html>
<html ng-app="urigoBlog" lang="en">
<head>
  <meta charset="utf-8">
  <title>Friends Tutorials</title>
  <meta name="description" content="A blog for everything">
  <meta name="author" content="Uri Goldshtein">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le styles -->
  <link href="styles/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
  <link href="styles/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" media="all">
  <link href="styles/style.css" rel="stylesheet" type="text/css" media="all">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>

  <script src="scripts/services/github.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/controllers.js"></script>

  <script>
    function loadDisqus(currentPageId) {
      // http://docs.disqus.com/help/2/
      window.disqus_shortname = 'lifessmalltutorial';
      window.disqus_identifier = currentPageId;
      window.disqus_url = 'http://urigo.github.com' + currentPageId;

      // http://docs.disqus.com/developers/universal/
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] ||
            document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();

      angular.element(document.getElementById('disqus_thread')).html('');
    }
  </script>
</head>
<body ng-controller="mainCtrl" contenteditable="true">
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12" id="header">
      <!--
      <iframe id="mindmap-frame" width="800" height="300" frameborder="0" src="" scrolling="no" style="overflow:hidden">Your browser is not able to display frames.  Please visit the <a href="http://www.mindmeister.com/131388810/uri" target="_blank">mind map: Uri</a> on <a href="http://www.mindmeister.com" target="_blank">Mind Mapping - MindMeister</a>.</iframe>
      -->
      <iframe id="mindmap-frame" width="1366" height="300" frameborder="0" src="http://www.mindmeister.com/maps/public_map_shell/131388810/uri?width=800&height=300&z=auto&no_share=1&no_logo=1" scrolling="no" style="overflow:hidden">Your browser is not able to display frames.  Please visit the <a href="http://www.mindmeister.com/131388810/uri" target="_blank">mind map: You</a> on <a href="http://www.mindmeister.com" target="_blank">Mind Mapping - MindMeister</a>.</iframe>
    </div>
  </div>
  <a href="http://www.mindmeister.com/131388810" target="_blank" class="btn btn-primary">
    Improve this map !
  </a>
  <div id="main_content" class="row-fluid">
    <div class="span1"></div>
    <div class="span10">

      <!--
      <button ng-click="isEditable=!isEditable" ng-show="!isEditable">Edit this subject</button>
      <button ng-click="SubmitChange()" ng-show="isEditable">Submit changes</button>
      -->

      <div id="main-view-wrapper">
        <div ng-view id="main-view"></div>
      </div>
    </div>
    <div class="span1"></div>
  </div>
  <div class="row-fluid" id="footer">
    <div class="span1"></div>
    <div class="span10" id="comments">
      <div id="disqus" class="disqus">
        <h2>Don't just read! tell us why we are wrong!!</h2>
        <div id="disqus_thread" class="content-panel-content"></div>
      </div>
    </div>
    <div class="span1"></div>
  </div>
</div>
</body>
</html>
