<div ng-show="locale=='en'">
    <h1>Life's small tutorials blog</h1>
    <!--
    <button ng-click="saveToGit()">
        Save to git
    </button>
    -->
    </br>

    This blog is based on the idea that anyhting that an individual person does, and not sharing it, is a waste of time.
    </br>

    Why?

    </br>

    Because of "Collaboration.html" and "Openness.html"

    </br>

    This blog depends on you to share your ideas and thoughts and notes on whatever subjects you fill like sharing..

    </br>

    Please start by navigating thorough the map on the top.

    <a href="https://www.beeminder.com">Keep track of goals</a>
    <a href="https://www.stickk.com">Also</a>

    <h1>Latest updates</h1>

    <div ng-repeat="entry in latestUpdates.entries">
        <h3>{{entry.publishedDate | date:'medium'}}</h3>
        <p>{{entry.title}} has changed by {{entry.author}}</p>
        <p>{{entry.contentSnippet}}</p>
        <a href="{{entry.link}}">See changes...</a>
    </div>

</div>
<div ng-show="locale=='he'">
    בלוג בעברית
</div>
